{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sri lanka baksteen gallery</h1>
    <p>{{ images|length }} images</p>
    {% for image in images %}
        <div class="gallery_box">
            <img class="gallery_image" src="images/{{ image.getFilename() }}">
            <p class="gallery_name">{{ image.getFilename() }}</p>
        </div>
    {% endfor %}
{% endblock %}